@model List<Person>
<h1>Parameter Clear Issue Demo</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    @foreach (Person person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
        </tr>
    }
</table>